<h1><%= @student.to_s %></h1>
<p><strong>Status: </strong>
  <%= @student.active ? "This student is currently active." : "This student is currently inactive." %>
</p>
<%= link_to "Update status", activate_student_path(@student) %>